/* Home Page - index.html*/

#home_page {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;}

#logo{
    max-height: 60px;
    height: auto;
    max-width: 100%;
    border: 0;
    vertical-align: middle;
    padding-left:90px;
    float: left;
}

#nav_menu {
    margin : 0;
    top: 0;
    position: fixed;
    background-color: #6F31A0;/*#5F0A87;*/
    width:100%;
    overflow: auto;}

#nav_menu a{

    color: white /*#5F0A87*/;
    font-size: 20px;
}

.right_align{
    float: right;
    padding: 15px 45px;
}

#picture{
    width: 100%;
    height: auto;
    overflow: hidden;}

/* Give purple color to button*/
.btn{
    color: #6F31A0;
}

/* Give purple color to all h1 elements*/
h1{
    color: #6F31A0;
    font-size: 40px;
    margin-bottom: 10px;
}

.navbar{
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.form  {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    height: auto;
    font-size: 16px;
    /*

    position: relative;*/
}



btn btn-default btn-block{
    background-color: #6F31A0;}


